@using ManaCena.Models
@using System.Reflection
@model List<Seller>

<h2>Edit Seller</h2>

<table border="1" id="table-edit-product">
    <tr>
        @*<td><label>Id</label></td>*@
        <td><label>Name</label></td>
    </tr>
    @foreach (var p in Model)
    {
        var rnd = Guid.NewGuid();
        <tr id="@rnd-tr">
            <td style="display:none;"><input value="@p.Id" id="@rnd-@nameof(Seller.Id)" /></td>
            <td style="display:none;"><input value="@p.SellerImageId" id="@rnd-@nameof(Seller.SellerImageId)" /></td>
            <td>
                <img src="@(p.SellerImage != null ? p.SellerImage.Image : "no image sorry")" alt="" id="@rnd-@nameof(Seller.SellerImage)" style="max-width: 100px; max-height: 100px;">
                <input type='file' class="product-image-edit" data-rnd="@rnd" />
            </td>
            <td><input value="@p.Name" id="@rnd-@nameof(Seller.Name)" /></td>
            <td>
                <button class="btn-submit-save" data-rnd="@rnd">Save Changes</button>
                <button class="btn-clone" data-tr-id="@rnd-tr" data-rnd="@rnd">Clone</button>
                <button class="btn-submit-del" data-tr-id="@rnd-tr" data-rnd="@rnd">Delete</button>
            </td>
            <td></td>
        </tr>
    }
</table>
@section scripts {

    @* Save *@
    <script type="text/javascript">
        $(".btn-submit-save").click(function () {
            var rnd = $(this).attr("data-rnd");
            // read all variables
            var id = $('#' + rnd + '-@nameof(Seller.Id)').val();
            var name = $('#' + rnd + '-@nameof(Seller.Name)').val();
            var sellerImageId = $('#' + rnd + '-@nameof(Seller.SellerImageId)').val();
            var img = $('#' + rnd + '-@nameof(Seller.SellerImage)').attr('src');
            $.ajax({
                type: "POST",
                url: "/Seller/EditSeller",
                data: {
                    Id: id, Name: name,
                    SellerImage: { Id: sellerImageId, Image: img }
                },
                success: function (result) {
                    // Do something interesting here.
                }
            });
        });
    </script>

    @* Image *@
    <script type="text/javascript">

        // on image change
        $(".product-image-edit").change(function () {
            var rnd = $(this).attr("data-rnd");
            var dataImageId = rnd + '-@nameof(Seller.SellerImage)';
            readURL(this, dataImageId);
        });

        function readURL(input, id) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#' + id).attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        };

    </script>

    @* Delete *@
    <script>
        var deleteUrlApi = "/Seller/DeleteSeller";
    </script>
    @Scripts.Render("~/Scripts/CRUD/delete.js")


    @* clone - create new record for *@
    @Scripts.Render("~/Scripts/CRUD/clone.js")

}