@using ManaCena.Models
@using System.Reflection
@model List<ProductSale>

<h2>Edit Product Sales</h2>

<div class="ui-widget">
    <label for="tags">Tags: </label>
    <input id="tags">
</div>

<table border="1" id="table-edit-product">
    <tr>
        @*<td><label>Id</label></td>*@
        @* TODO: ADD IMAGE DISPLAY only, on Select Change*@ 

        <td><label>Product Image</label></td>
        <td><label>Product Name</label></td>
        <td><label>Seller Name</label></td>
    </tr>
    @foreach (var p in Model)
    {
        var rnd = Guid.NewGuid();
        <tr id="@rnd-tr">
            <td style="display:none;"><input value="@p.Id" id="@rnd-@nameof(ProductSale.Id)" /></td>
            <td>
                <img src="@if (p.Product.ProductImageSmall != null) { <text>@p.Product.ProductImageSmall.Image</text> }" id="@rnd-@nameof(Product.ProductImageSmall)">                
            </td>
            <td><input value="@p.ProductId" id="@rnd-@nameof(ProductSale.ProductId)" /></td>
            <td>
                <select id="@rnd-@nameof(ProductSale.SellerId)">
                    @foreach (var i in (List<Seller>)ViewBag.SellerEnum)
                    {
                        <option @if (i.Id == p.SellerId) { <text> selected="selected" </text> } value="@i.Id">@i.Name</option>
                    }
                </select>
            </td>
            <td>
                <button class="btn-submit-save" data-rnd="@rnd">Save Changes</button>
                <button class="btn-clone" data-tr-id="@rnd-tr" data-rnd="@rnd">Clone</button>
                <button class="btn-submit-del" data-tr-id="@rnd-tr" data-rnd="@rnd">Delete</button>
            </td>
            <td></td>
        </tr>
    }
</table>
@section scripts {



<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
<link rel="stylesheet" href="/resources/demos/style.css">
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

<script type="text/javascript">
        $(function () {
            var availableTags = [
                "ActionScript",
                "AppleScript",
                "Asp",
                "BASIC",
                "C",
                "C++",
                "Clojure",
                "COBOL",
                "ColdFusion",
                "Erlang",
                "Fortran",
                "Groovy",
                "Haskell",
                "Java",
                "JavaScript",
                "Lisp",
                "Perl",
                "PHP",
                "Python",
                "Ruby",
                "Scala",
                "Scheme"
            ];
            $("#tags").autocomplete({
                source: availableTags
            });
        });
</script>

    @* Save *@
    <script type="text/javascript">
        $(".btn-submit-save").click(function () {
            var rnd = $(this).attr("data-rnd");
            // read all variables
            var id = $('#' + rnd + '-@nameof(ProductSale.Id)').val();
            var productId = $('#' + rnd + '-@nameof(ProductSale.ProductId)').val();
            var sellerId = $('#' + rnd + '-@nameof(ProductSale.SellerId)').val();
            alert(id);
            alert(productId);
            alert(sellerId);


            $.ajax({
                type: "POST",
                url: "/ProductSale/EditItem",
                data: {
                    Id: id, SellerId: sellerId, ProductId: productId
                },
                success: function (result) {
                    // Do something interesting here.
                }
            });
        });
    </script>

    @* Delete *@
    <script type="text/javascript">
        $(".btn-submit-del").click(function () {
            var rnd = $(this).attr("data-rnd");
            var id = $('#' + rnd + '-@nameof(Cathegory.Id)').val();
            alert(id);
            $.ajax({
                type: "POST",
                url: "/ProductSale/DeleteItem",
                data: {
                    id: id
                },
                success: function (result) {
                    // TODO: Remove DOM object, do not refresh, just remove DOM
                }
            });
                });
    </script>

    @* Image *@
    <script type="text/javascript">

        // on image change
        $(".product-image-edit").change(function () {
            readURL(this, $(this).attr("data-image-id"));
        });

        function readURL(input, id) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#' + id).attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        };

    </script>

    @* clone - create new record for *@
    <script>
        // Clone 2 steps
        $(".btn-clone").click(function () {

            var tr = $("#" + $(this).attr("data-tr-id")).clone(true, true);
            //e.preventDefault();
            $('#table-edit-product').append(tr.clone(true, true));

            // totaly 18 elements, and we need to start renaming clone - starting from 9th element
            var rnd = $(this).attr("data-rnd");
            var totalIndex = $('[id^="' + rnd + '"]').length;
            var timePrefixNow = $.now();
            // find 18 elements
            $('[id^="' + rnd + '"]').each(function (index) {
                if (index >= totalIndex / 2) {
                    // new random id
                    $(this).attr("id", timePrefixNow + $(this).attr("id"));
                }
                //console.log(index + ": " + $(this).attr("id"));
            });

            // find amd change clone's data-rnd
            var totalIndex2 = $('[data-rnd^="' + rnd + '"]').length;
            $('[data-rnd^="' + rnd + '"]').each(function (index) {
                if (index >= totalIndex2 / 2) {
                    // new random id
                    $(this).attr("data-rnd", timePrefixNow + $(this).attr("data-rnd"));
                }
            });

            // find and change record ID
            var cloneId = timePrefixNow + rnd + '-' + '@nameof(Product.Id)';
            $('[id^="' + cloneId + '"]').each(function (index) {
                $('[id^="' + cloneId + '"]').val('');
            });

        });
    </script>

}