@using ManaCena.Models
@using System.Reflection
@model List<Cathegory>

<h2>Edit Cathegory</h2>

<table border="1" id="table-edit-product">
    <tr>
        @*<td><label>Id</label></td>*@
        <td><label>Name</label></td>
        <td><label>CathegoryTypeId</label></td>
    </tr>
    @foreach (var p in Model)
    {
        var rnd = Guid.NewGuid();
        <tr id="@rnd-tr">
            <td style="display:none;"><input value="@p.Id" id="@rnd-@nameof(Cathegory.Id)" /></td>
            <td><input value="@p.Name" id="@rnd-@nameof(Cathegory.Name)" /></td>
            <td>
                <select id="@rnd-@nameof(Cathegory.CathegoryTypeId)">
                    @foreach (var ce in (List<CathegoryType>)ViewBag.CathegoryTypeEnum)
                {
                        <option @if (ce.Id == p.CathegoryTypeId) { <text> selected="selected" </text>  } value="@ce.Id">@ce.Name</option>
                    }
                </select>
            </td>
            <td>
                <button class="btn-submit-save" data-rnd="@rnd">Save Changes</button>                
                <button class="btn-clone" data-tr-id="@rnd-tr" data-rnd="@rnd">Clone</button>
                <button class="btn-submit-del" data-tr-id="@rnd-tr" data-rnd="@rnd">Delete</button>
            </td>
            <td></td>
        </tr>
    }
</table>
@section scripts {

    @* Save *@
    <script type="text/javascript">
        $(".btn-submit-save").click(function () {
            var rnd = $(this).attr("data-rnd");
            // read all variables
            var id = $('#' + rnd + '-@nameof(Cathegory.Id)').val();
            var name = $('#' + rnd + '-@nameof(Cathegory.Name)').val();
            var cathegoryTypeId =$('#'+rnd+'-@nameof(Cathegory.CathegoryTypeId)').val();
            $.ajax({
                type: "POST",
                url: "/Cathegory/EditCathegory",
                data: {
                    Id: id, Name: name, CathegoryTypeId: cathegoryTypeId
                },
                success: function (result) {
                    // Do something interesting here.
                }
            });
        });
    </script>

    @* Delete *@
    <script type="text/javascript">
        $(".btn-submit-del").click(function () {
            var rnd = $(this).attr("data-rnd");
            var id = $('#' + rnd + '-@nameof(Cathegory.Id)').val();
            $.ajax({
                type: "POST",
                url: "/Cathegory/DeleteCathegory",
                data: {
                    id: id
                },
                success: function (result) {
                    alert(result)
                    // TODO: Remove DOM object, do not refresh, just remove DOM                    
                },
                error: function (jqXHR, exception) {
                    // TODO: add handler every where
                    var msg = '';
                    if (jqXHR.status === 0) {
                        msg = 'Not connect.\n Verify Network.';
                    } else if (jqXHR.status == 404) {
                        msg = 'Requested page not found. [404]';
                    } else if (jqXHR.status == 500) {
                        msg = 'Internal Server Error [500].';
                    } else if (exception === 'parsererror') {
                        msg = 'Requested JSON parse failed.';
                    } else if (exception === 'timeout') {
                        msg = 'Time out error.';
                    } else if (exception === 'abort') {
                        msg = 'Ajax request aborted.';
                    } else {
                        msg = 'Uncaught Error.\n' + jqXHR.responseText;
                    }
                    alert(msg);
                }
            });
                });
    </script>

    @* clone - create new record for *@
    <script>
        // Clone 2 steps
        $(".btn-clone").click(function () {

            var tr = $("#" + $(this).attr("data-tr-id")).clone(true, true);
            //e.preventDefault();
            $('#table-edit-product').append(tr.clone(true, true));

            // totaly 18 elements, and we need to start renaming clone - starting from 9th element
            var rnd = $(this).attr("data-rnd");
            var totalIndex = $('[id^="' + rnd + '"]').length;
            var timePrefixNow = $.now();
            // find 18 elements
            $('[id^="' + rnd + '"]').each(function (index) {
                if (index >= totalIndex / 2) {
                    // new random id
                    $(this).attr("id", timePrefixNow + $(this).attr("id"));
                }
                //console.log(index + ": " + $(this).attr("id"));
            });
            
            // find amd change clone's data-rnd
            var totalIndex2 = $('[data-rnd^="' + rnd + '"]').length;
            $('[data-rnd^="' + rnd + '"]').each(function (index) {
                if (index >= totalIndex2 / 2) {
                    // new random id
                    $(this).attr("data-rnd", timePrefixNow + $(this).attr("data-rnd"));
                }
            });

            // find and change record ID
            var cloneId = timePrefixNow + rnd + '-' + '@nameof(Product.Id)';
            $('[id^="' + cloneId + '"]').each(function (index) {
                $('[id^="' + cloneId + '"]').val('');
            });

        });
    </script>

}