@using ManaCena.Models
@using System.Reflection
@model List<Product>

<h2>Edit Product</h2>

<table border="1" id="table-edit-product">
    <tr>
        @*<td><label>Id</label></td>*@
        <td><label>Image</label></td>
        <td><label>Image Small</label></td>
        <td><label>Name</label></td>
        <td><label>Description</label></td>
        <td><label>Seller Name</label></td>

        <td><label>Wheight</label></td>
        <td><label>Unit</label></td>
        <td><label>Size</label></td>
        <td><label>Cathegory</label></td>        
        
        <td><label>Original Price</label></td>
        <td><label>Discount Price</label></td>
        <td><label>Discount Percentag</label></td>
        <td><label>Start Date</label></td>
        <td><label>End Date</label></td>

    </tr>
    @foreach (var p in Model)
    {
        var rnd = Guid.NewGuid();
        <tr id="@rnd-tr">
            <td style="display:none;"><input value="@p.Id" id="@rnd-@nameof(Product.Id)" /></td>
            <td style="display:none;"><input value="@p.ProductImageId" id="@rnd-@nameof(Product.ProductImageId)" /></td>
            <td>
                <img src="@p.ProductImage.Image" alt="" id="@rnd-@nameof(Product.ProductImage)" style="max-width: 100px; max-height: 100px;">
                <input type='file' class="product-image-edit" @*data-image-id="@rnd-@nameof(Product.ProductImage)"*@ data-rnd="@rnd" />
            </td>
            <td>
                <img src="@if (p.ProductImageSmall != null) { <text>@p.ProductImageSmall.Image</text> }">
            </td>
            <td><input value="@p.Name" id="@rnd-@nameof(Product.Name)" /></td>
            <td><input value="@p.Description" id="@rnd-@nameof(Product.Description)" /></td>
            <td>
                <select id="@rnd-@nameof(Product.SellerId)">
                    @foreach (var i in (List<Seller>)ViewBag.SellerEnum)
                    {
                        <option @if (i.Id == p.CathegoryId) { <text> selected="selected" </text> } value="@i.Id">@i.Name</option>
                    }
                </select>
            </td>
            <td><input value="@p.Wheight" id="@rnd-@nameof(Product.Wheight)" /></td>
            <td><input value="@p.Unit" id="@rnd-@nameof(Product.Unit)" /></td>
            <td><input value="@p.Size" id="@rnd-@nameof(Product.Size)" /></td>
            <td>
                <select id="@rnd-@nameof(Product.CathegoryId)">
                    @foreach (var ce in (List<Cathegory>)ViewBag.CathegoryEnum)
                    {
                        <option @if (ce.Id == p.CathegoryId) { <text> selected="selected" </text> } value="@ce.Id">@string.Format("{0} - ({1})", ce.Name, ce.CathegoryType.Name)</option>
                    }
                </select>
            </td>
            <td><input value="@p.OriginalPrice" id="@rnd-@nameof(Product.OriginalPrice)" /></td>
            <td><input value="@p.DiscountPrice" id="@rnd-@nameof(Product.DiscountPrice)" /></td>
            <td><input value="@p.DiscountPercentage" id="@rnd-@nameof(Product.DiscountPercentage)" /></td>
            <td><input value="@p.StartDate" id="@rnd-@nameof(Product.StartDate)" /></td>
            <td><input value="@p.EndDate" id="@rnd-@nameof(Product.EndDate)" /></td>
            <td>
                <button class="btn-submit-save" data-rnd="@rnd">Save Changes</button>
                <button class="btn-clone" data-rnd="@rnd">Clone</button>
                <button class="btn-submit-del" data-rnd="@rnd">Delete</button>
            </td>
            <td></td>
        </tr>
    }
</table>
@section scripts {

    @* Save *@
    <script type="text/javascript">
        $(".btn-submit-save").click(function () {
            var rnd = $(this).attr("data-rnd");
            // read all variables
            var id = $('#' + rnd + '-@nameof(Product.Id)').val();
            var name = $('#' + rnd + '-@nameof(Product.Name)').val();
            var description = $('#' + rnd + '-@nameof(Product.Description)').val();
            var sellerId =$('#'+rnd+'-@nameof(Product.SellerId)').val();
            var wheight =$('#'+rnd+'-@nameof(Product.Wheight)').val();
            var unit =$('#'+rnd+'-@nameof(Product.Unit)').val();
            var size =$('#'+rnd+'-@nameof(Product.Size)').val();
            var cathegoryId = $('#' + rnd + '-@nameof(Product.CathegoryId)').val();
            var originalPrice =$('#'+rnd+'-@nameof(Product.OriginalPrice)').val();
            var discountPrice = $('#' + rnd + '-@nameof(Product.DiscountPrice)').val();
            var discountPercentage =$('#'+rnd+'-@nameof(Product.DiscountPercentage)').val();
            var startDate =$('#'+rnd+'-@nameof(Product.StartDate)').val();
            var endDate = $('#' + rnd + '-@nameof(Product.EndDate)').val();
            var productImageId = $('#' + rnd + '-@nameof(Product.ProductImageId)').val();
            var img = $('#' + rnd + '-@nameof(Product.ProductImage)').attr('src');

            $.ajax({
                type: "POST",
                url: "/Product/EditItem",
                data: {
                    Id: id, Name: name, Description: description, SellerId: sellerId, Wheight: wheight, Unit: unit, Size: size, CathegoryId: cathegoryId,
                    OriginalPrice: originalPrice, DiscountPrice: discountPrice, DiscountPercentage: discountPercentage, StartDate: startDate, EndDate: endDate,
                    ProductImage: { Id: productImageId, Image: img }
                },
                success: function (result) {
                    // Do something interesting here.
                }
            });
        });
    </script>

    @* Delete *@
    <script type="text/javascript">
        $(".btn-submit-del").click(function () {
            var rnd = $(this).attr("data-rnd");
            var id = $('#' + rnd + '-@nameof(Cathegory.Id)').val();
            $.ajax({
                type: "POST",
                url: "/Product/DeleteItem",
                data: {
                    id: id
                },
                success: function (result) {
                    // TODO: Remove DOM object, do not refresh, just remove DOM
                }
            });
                });
    </script>

    @* Image *@
    <script type="text/javascript">

        // on image change
        $(".product-image-edit").change(function () {
            var rnd = $(this).attr("data-rnd");
            var dataImageId = rnd + '-@nameof(Product.ProductImage)';
            readURL(this, dataImageId);
            //readURL(this, $(this).attr(dataImageId));
        });

        function readURL(input, id) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    $('#' + id).attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        };

    </script>

@* clone - create new record for *@
@Scripts.Render("~/Scripts/CRUD/clone.js")
   
    @*<script>
        // Clone 2 steps
        $(".btn-clone").click(function () {

            var tr = $("#" + $(this).attr("data-rnd") + "-tr").clone(true, true);
            //e.preventDefault();
            $('#table-edit-product').append(tr.clone(true, true));

            // totaly 18 elements, and we need to start renaming clone - starting from 9th element
            var rnd = $(this).attr("data-rnd");
            var totalIndex = $('[id^="' + rnd + '"]').length;
            var timePrefixNow = $.now();
            // find 18 elements
            $('[id^="' + rnd + '"]').each(function (index) {
                if (index >= totalIndex / 2) {
                    // new random id
                    $(this).attr("id", timePrefixNow + $(this).attr("id"));
                }
                //console.log(index + ": " + $(this).attr("id"));
            });

            // find amd change clone's data-rnd
            var totalIndex2 = $('[data-rnd^="' + rnd + '"]').length;
            $('[data-rnd^="' + rnd + '"]').each(function (index) {
                if (index >= totalIndex2 / 2) {
                    // new random id
                    $(this).attr("data-rnd", timePrefixNow + $(this).attr("data-rnd"));
                }
            });

            // find and change record ID
            var cloneId = timePrefixNow + rnd + '-' + '@nameof(Product.Id)';
            $('[id^="' + cloneId + '"]').each(function (index) {
                $('[id^="' + cloneId + '"]').val('');
            });

        });
    </script>*@

}