@using ManaCena.Models
@using System.Reflection

<h2>Serch Product</h2>

<style>
    .menu-search-accordion-sellers .ui-accordion-content {
        padding: 0px 0px 0px 10px !important;
        /*padding: 0;*/
    }
    .menu-search-accordion-items .ui-accordion-content {
        padding: 0px 0px 0px 0px !important;
        /*padding: 0;*/
    }
</style>

<style>
    .menu-item-selected {
        font-weight: bold;
        background-color: #007FFF !important;
        color: white;
        padding-left: 10px;
        font-size: 130%;
    }
    .first-level-menu {
        font-weight: bold;
        background-color: #d7e7ff;
        border-top: 1px solid #b4c2d6;
        padding-left: 10px;
        font-size: 110%;
    }
    .second-level-menu {
        font-weight: bold;
        background-color: #dfecff;
        border-top: 1px solid #b6c8e3;
        padding-left: 20px;
        font-size: 105%;
    }
    .third-level-menu {
        font-weight: bold;
        background-color: #f3f8ff;
        /*border-top: 1px solid black;*/
        padding-left: 30px;
        font-size: 100%;
    }
</style>


@* Checkbox *@
<style>
    /*padding-top
    padding-right
    padding-bottom
    padding-left*/
    .checkbox {
        padding-left: 0px !important;
    }

    input[type=checkbox].sellers-checkbox {
        height: 20px;
        width: 20px;
        margin: 0px 0 0;
        /*margin: 0px 10px 10px 10px*/
    }
</style>

<style>
    .disable-click {
        pointer-events: none;
    }
</style>


<div class="row" style="background-color:aquamarine">
    <h1>ROW</h1>
    <div class="col-xs-8 col-sm-8 col-md-8" style="background-color:aliceblue">
        <h2>Col1</h2>
        <div class="row" style="background-color:cadetblue">
            Grid 1
            <div class="col-xs-4 col-sm-4 col-md-4" style="background-color:beige">
                sub col 1
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4" style="background-color:bisque">
                sub col 2
            </div>
            <div class="col-xs-4 col-sm-4 col-md-4" style="background-color:burlywood">
                sub col 3
            </div>
        </div>
    </div>
    <div class="col-xs-4 col-sm-4 col-md-4" style="background-color:chartreuse">
        <h2>Col2</h2>
    </div>
</div>

<div class="row">
    <div class="col-xs-8 col-sm-8 col-md-8">

        <div class="row" style="max-width:600px; display:none;">
            <div class="input-group">
                <input type="text" class="form-control" id="input-search-main" placeholder="Jack Daniels">
                <span class="input-group-btn">
                    <button class="btn btn-default" id="btn-search-main" type="button">Go!</button>
                </span>
            </div>

            <div id="advanced-search-panel">
                <input type="text" class="form-control" placeholder="Weight">
                <input type="text" class="form-control" placeholder="Unit">
                <input type="text" class="form-control" placeholder="Size">
                <select id="input-search-main-cathegoryTypeId">
                    <option value="">@string.Format("Everything")</option>
                    @foreach (var ce in (List<CathegoryType>)ViewBag.CathegoryTypeEnum)
                    {
                        <option value="@ce.Id">@string.Format("{0}", MyHelper.UseLanguage(ce, "Name"))</option>
                    }
                </select>
                <select id="input-search-main-cathegoryId">
                    <option value="">@string.Format("Everything")</option>
                    @foreach (var ce in (List<Cathegory>)ViewBag.CathegoryEnum)
                    {
                        <option value="@ce.Id">@string.Format("{1} - ({0})", MyHelper.UseLanguage(ce, "Name"), MyHelper.UseLanguage(ce.CathegoryType, "Name"))</option>
                    }
                </select>
                <select id="input-search-main-subCathegoryId">
                    <option value="">@string.Format("Everything")</option>
                    @foreach (var ce in (List<SubCathegory>)ViewBag.SubCathegoryEnum)
                    {
                        <option value="@ce.Id">@string.Format("{1} - ({0})", MyHelper.UseLanguage(ce, "Name"), MyHelper.UseLanguage(ce.Cathegory, "Name"))</option>
                    }
                </select>
            </div>

            <button class="btn-xs btn-default" id="show-advanced-search">even more advanced search</button>

        </div>

        <br />


        <img id="img-loading-search-single-item" src="../images/loading_spinner_large.gif" style="display:none;">
        <div id="refItem">
        </div>


        <img id="img-loading-search-main" src="../images/loading_spinner_large.gif">
        <div id="refTable">
        </div>


        <div id="dialog" title="Basic dialog">
            <img id="img-loading-zoom-in" src="../images/loading_spinner_large.gif" style="display:none;">
            <img id="full-size-image-dialog" />
        </div>
    </div>

    <div class="col-xs-4 col-sm-4 col-md-4">

        <div class="menu-search-accordion-sellers">
            <h3><b>Sellers</b></h3>
            <div>
                @foreach (var i in (List<Seller>)ViewBag.SellerEnum)
                {
                    <div class="checkbox">
                        @*<div class="">*@
                        <label class="sellers-checkbox-label"><input type="checkbox" class="sellers-checkbox" value="@i.Id"><b>@i.Name</b></label>
                    </div>
                }
            </div>
        </div>

        <br />

        <div class="menu-search-accordion-items">
            <h3><b>Items</b></h3>

            <div id="item-search-menu-item-container">
                <div id="item-search-menu-0" class="non-closable-menu">All Cathegories</div>
                @foreach (var ct in (IList<CathegoryType>)ViewBag.CathegoryTypeEnum)
            {
                    <div data-cathegoryTypeId="@ct.Id" id="item-search-menu-@ct.Id-@ct.Name.Replace(" ","")" data-parent="item-search-menu-0" class="non-closable-menu first-level-menu">@MyHelper.UseLanguage(ct, "Name")</div>
                    foreach (var c in (IList<Cathegory>)ct.Cathegories.ToList())
                    {
                        <div data-cathegoryId="@c.Id" id="item-search-menu-@c.Id-@c.Name.Replace(" ","")" data-parent="item-search-menu-@ct.Id-@ct.Name.Replace(" ","")" class="closable-menu second-level-menu">@MyHelper.UseLanguage(c, "Name")</div>
                        foreach (var sc in (IList<SubCathegory>)c.SubCathegories.ToList())
                        {
                            <div data-subCathegoryId="@sc.Id" id="item-search-menu-@sc.Id-@sc.Name.Replace(" ","")" data-parent="item-search-menu-@c.Id-@c.Name.Replace(" ","")" class="closable-menu third-level-menu">@MyHelper.UseLanguage(sc, "Name")</div>
                        }
                    }
                }
            </div>
        </div>

        </div>
</div>



@section scripts {

    @* bladskoje menu *@
    <script type="text/javascript">

        // hide what's hidable'
        $(".closable-menu").hide();

        $(".non-closable-menu, .closable-menu").click(function (e) {
            // block children
            if (e.target !== this)
                return;

            // hide all
            $(".closable-menu").hide();
            // unselect all
            $(".non-closable-menu, .closable-menu").removeClass("menu-item-selected");

            // show parent
            ShowParents($(this).attr("id"));
                        

            if ($(this).attr("data-cathegoryTypeId") != null) {                
                $("#input-search-main-cathegoryTypeId").val($(this).attr("data-cathegoryTypeId"));
                $("#input-search-main-cathegoryId").val(null);
                $("#input-search-main-subCathegoryId").val(null);
            }
            else if ($(this).attr("data-cathegoryId") != null) {
                $("#input-search-main-cathegoryId").val($(this).attr("data-cathegoryId"));
                $("#input-search-main-subCathegoryId").val(null);                
            }
            else if ($(this).attr("data-subCathegoryId") != null) {
                $("#input-search-main-subCathegoryId").val($(this).attr("data-subCathegoryId"));
            }
            else
            {
                $("#input-search-main-cathegoryTypeId").val(null);
                $("#input-search-main-cathegoryId").val(null);
                $("#input-search-main-subCathegoryId").val(null);
            }

            console.log($("#input-search-main-cathegoryTypeId").val());
            console.log($("#input-search-main-cathegoryId").val());
            console.log($("#input-search-main-subCathegoryId").val());

            MainSearch();


        });

        function ShowParents(id) {
            // show itself
            $("#" + id).show();
            $("#" + id).addClass("menu-item-selected");
            // show children
            $("*[data-parent='" + id + "']").show();

            // find parent
            var parent = $("#" + id).attr("data-parent");
            if (parent) {
                ShowParents(parent);
            }
        }

        function MainSearch() {
            // show loading image
            $("#img-loading-search-main").show();
            // clear content
            $("#refTable").empty();
            $("#item-search-menu-item-container").addClass("disable-click");

            var search = $('#input-search-main').val();
            var subCathegoryId = $('#input-search-main-subCathegoryId').val();
            var cathegoryId = $('#input-search-main-cathegoryId').val();
            var cathegoryTypeId = $('#input-search-main-cathegoryTypeId').val();

            // get all sellers
            var sellersList = [];
            $('.menu-search-accordion-sellers div input:checked').each(function () {
                sellersList.push($(this).val());
            });
            //console.log(sellersList);

            $.ajax({
                type: "POST",
                url: "/SearchProduct/Search",
                //data: JSON.stringify({
                data: {
                    search: search,
                    sellersList: sellersList,
                    subCathegoryId: subCathegoryId, cathegoryId: cathegoryId, cathegoryTypeId: cathegoryTypeId
                }
            })
                .done(function (partialViewResult) {
                    // hide loading image
                    $("#img-loading-search-main").hide();
                    // show result
                    $("#refTable").html(partialViewResult);

                    afterAjaxScript();


                    // release lock on menu
                    $("#item-search-menu-item-container").removeClass("disable-click");

                })
                .fail(function (data) {
                    // release lock on menu
                    $("#item-search-menu-item-container").removeClass("disable-click");
                })
                .always(function (data) {
                    // release lock on menu
                    $("#item-search-menu-item-container").removeClass("disable-click");
                });
        }
        
        $(function () {

            // Sellers checked
            $(".sellers-checkbox").change(function () {
                MainSearch(null, null);
            });

            $(".menu-search-accordion-sellers, .menu-search-accordion-items").accordion({
                heightStyle: "content",
                collapsible: true
                //icons: null
            });
            

            // Advanced search (second option)
            $('#btn-search-main').on('click',
                function (e) {
                    MainSearch(null, null);
                });

            // Initial Click for search
            $("#item-search-menu-0").click();

        });
    </script>



    @* Panel Sliding down *@
    <script type="text/javascript">

        $("#advanced-search-panel").hide();

        $("#show-advanced-search").click(function () {
            $("#advanced-search-panel").show("slide", { direction: "up" }, 500);
        });
    </script>


    @* TODO: ZOOM k sozhaleniju predot'sa ubrat' ( *@
    @* Zoom *@
    <script type="text/javascript">

        // on click
        function afterAjaxScript() {

            // remove this with ZOOM
            // TODO:  maybe even better - add same shit to BIG object?
            //$('.img-fullsizable').click(enter_function);

            // Open Product View
            $('.product-on-dushboard').click(openProductView);
        };


        function openProductView() {

            var productId = $(this).attr("data-product-id");
            $("#refItem").empty();

            $("#img-loading-search-single-item").show();
            $.ajax({
                type: "GET",
                url: "/Product/ProductView/" + productId,
                //data: {
                //    search: search,
                //    sellersList: sellersList,
                //    subCathegoryId: subCathegoryId, cathegoryId: cathegoryId, cathegoryTypeId: cathegoryTypeId
                //}
            })
                .done(function (partialViewResult) {
                    // show result
                    $("#refItem").html(partialViewResult);

                    //ANOTHER_afterAjaxScript();
                })
                .fail(function (data) {
                })
                .always(function (data) {
                    // hide loading image
                    $("#img-loading-search-single-item").hide();
                });
        };

        //// Hover
        //function afterAjaxScript() {
        //    $('.img-fullsizable').hover(enter_function, exit_function);
        //};

        function enter_function() {
            $("#dialog").dialog({
                autoOpen: true,
                width: 'auto',
                position: { my: "top", at: "bottom", of: $(this) }
            });
            $(".ui-dialog-titlebar").hide();

            snatchLargeImage($(this).attr("data-image-id"));
        };

        function exit_function() {
            //$("#dialog").dialog('close');
        };



        $(document).click(function (evt) {

            // if image block event
            if ($(evt.target).attr('class') == "img-fullsizable")
                return;
            // For descendants of menu_content being clicked, remove this check if you do not want to put constraint on descendants.
            // if image block event
            if ($(evt.target).closest('.img-fullsizable').length)
                return;
            // if document is ready
            if (document.readyState !== 'complete') return;

            // if exists
            if ($("#dialog").hasClass('ui-dialog-content')) {
                $("#dialog").dialog('close');
            }
        });

        //// on hover version
        //$(document).click(function () {
        //    $("#dialog").dialog('close');
        //});

        function snatchLargeImage(id) {
            $('#full-size-image-dialog').attr('src', '');
            $("#img-loading-zoom-in").show();


            $.ajax({
                type: "GET",
                url: "/SearchProduct/GetLargeImage",
                data: {
                    Id: id
                }
            })
                .done(function (img) {
                    $("#img-loading-zoom-in").hide();
                    $('#full-size-image-dialog').attr('src', img);
                    //afterAjaxScript();
                });
        };

    </script>


}


